p {
    color:gray;
    font-size: large;
}
.fas {
    margin-right: 1vw;
}
h1 {
    margin-top: 1vw;
}
/*make the image rounded*/
img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
}
/*css to make the site responsive*/
@media screen and (max-width: 600px) {
    p {
     font-size: 10px;
     line-height: 0;
     margin-left: 10px;
    }
}
@media screen and (max-width: 600px) {
    h1 {
         font-size: 16px;
        }
  } 
  @media screen and (max-width: 600px) {
    img {
        height: 70px;
        width: 70px;
        margin: 0;
    }
  }
  @media screen and (max-width: 600px) {
    figure {
        margin: 0;
    }
  }